<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>

    <h1>File Upload</h1>

    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">Upload</button>

    <div class="uploadResult">

    <!--   이미지가 추가됨     -->


    </div>

    <script>

        $(".uploadBtn").click(function () {
            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
            }

            // 파일 업로드 처리
            $.ajax({
                url: "/uploadAjax",
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    showUploadedImages(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  console.log(textStatus);
                }
            });
        });

        function showUploadedImages(arr) {
            console.log(arr);

            var divArea = $(".uploadResult");

            for (var i = 0; i < arr.length; i++) {
                divArea.append("<img src='/display?fileName=" + arr[i].imageURL + "'>");
            }
        }

    </script>

</body>
</html>